@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  video,
  .cusor {
    @apply cursor-handcursor;
  }

  h1 {
    @apply text-8xl;
    @apply uppercase;
    @apply font-black;
    @apply text-gray-800;
    @apply font-kanit;
  }

  h2 {
    @apply text-5xl;
    @apply font-bold;
    @apply text-gray-800;
    @apply font-kanit;
  }

  h3 {
    @apply text-4xl;
    @apply font-bold;
    @apply text-gray-800;
    @apply font-kanit;
  }

  p {
    @apply text-gray-800;
    @apply font-medium;
    @apply font-lato;
  }

  a,
  li {
    @apply font-normal;
    @apply font-kanit;
  }

  @media (max-width: 600px) {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }
  }
}

@layer components {
  /* Each wave layer moves at a different speed */
  .wave1 {
    animation: wave 12s linear infinite;
  }
  .wave2 {
    animation: wave 16s linear infinite;
  }
  .wave3 {
    animation: wave 20s linear infinite;
  }

  /* Floating elements */
  .floating-element {
    animation: float 5s ease-in-out infinite;
  }
}

/* Wave Animation */
@keyframes wave {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-5%) translateY(-2%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0);
  }
}

/* Floating Animation 2 */
@keyframes float2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
