---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Problemet med plastikforurening">
  <h1>Problemet med plastikforurening</h1>
</MainLayout>
