---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Problemet med plastikforurening">
  <div class="top-element">
    <h1 class="max-w-6xl md:max-w-7xl mx-auto pt-12">Problemet med plastikforurening</h1>
    <div class="data-columnsflex flex-col max-w-6xl mx-auto py-20">
      <div class="flex flex-col justify-start items-start py-20">
        <img src="/column1.svg" alt="column1" class="w-2/3 md:w-1/2" />
        <h2 class="text-left pt-4 text-[#FAFAFA]">Af plastikken <br class="md:hidden block" />flyder i overfladen</h2>
      </div>
      <div class="p-4 flex flex-col justify-center items-end py-20">
        <img src="/column2.svg" alt="column2" class="w-2/3 md:w-1/2" />
        <h2 class="text-right pt-4 text-[#FAFAFA]">Ligger længere <br class="md:hidden block" /> nede i vandsøjlen</h2>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .top-element {
    background-image: url(/lightroom-img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200vh;
  }

  h1 {
    text-shadow: 2px 2px 4px #000000;
    color: white;
    line-height: 1.1;
  }

  h2 {
    text-shadow: 2px 2px 4px #000000;
  }

  @media (max-width: 600px) {
    .top-element {
      height: 200vh;
    }
    h1 {
      word-break: break-word;
      hyphens: auto;
    }
  }
</style>
